/*font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;*/
:root {
  --primary-color: #e6e5e5;
  --secondary-color: #f32260;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --light-color: rgba(0, 0, 0, 0.7);
}
.container {
  text-align: center;
}
nav {
  margin: 20px 20px 20px 0px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}
h4 {
  font-size: 26px;
  font-family: var(--heading-font-family);
}
p {
  font-family: var(--default-font-family);
  font-weight: 400px;
  font-size: 16px;
  color: rgba(39, 33, 66, 0.7);
  line-height: 30px;
}
img {
  width: 75%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
footer {
  margin-bottom: 40px;
  text-align: center;
  margin: 0px 60px;
}
a {
  text-decoration: none;
  color: var(--light-color);
}
a:hover {
  color: var(--secondary-color);
}
.front-page {
  background: var(--primary-color);
  text-align: center;
  padding: 100px 20px;
}

.front-page p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
  color: #272142;
  margin: 0;
}
.front-page h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: var(--light-color);
}
.content {
  margin: 30px;
}
.content-page {
  padding: 100px 20px;
  text-align: left;
}

.content-page h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
}
.content-page h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #272142;
}
.content-page p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--light-color);
}

.content-page h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.content-page p {
  font-size: 14px;
  color: var(--light-color);
}
.content-page p a {
  text-decoration: none;
  color: var(--secondary-color);
}
.btn-contact {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-contact:hover {
  background-color: var(--secondary-color);
  color: black;
}

.btn-live {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 10px 30px;
}
.btn-live:hover {
  background: var(--secondary-color);
  color: #e6e5e5;
}
.project-desciption {
  padding: 20px 60px;
}

nav ul {
  margin: 0px;
  padding: 0px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 20px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--light-color);
  transition: all 100ms ease-in-out;
}
nav li.active a,
nav a:hover {
  color: var(--secondary-color);
}
.dark-theme {
  border: 1px solid;
  background-color: var(--secondary-color);
  box-shadow: -6px -6px 13px #fff, 6px 6px 13px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 12px;
  position: relative;
  top: 20px;
  left: 40px;
}

footer .resume-section {
  background-color: var(--primary-color);
  padding: 30px 100px;
  margin-top: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
footer .resume-section a {
  color: white;
  text-decoration: none;
}
footer .resume-section a:hover {
  color: black;
}
.email-link a {
  color: #272142;
  text-decoration: none;
  font-size: 24px;
}
.email-link a:hover {
  color: var(--secondary-color);
}

.social-link a {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0px 20px;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-link a:hover {
  background-color: var(--secondary-color);
  color: white;
}

@media (max-width: 900px) {
  h1,
  h2 {
    font-size: 44px;
  }
  a {
    text-decoration: none;
    color: var(--light-color);
  }
  a:hover {
    color: var(--secondary-color);
  }

  .project-desciption {
    padding: 0px;
    text-align: center;
  }
  .front-page {
    padding: 80px 20px;
  }

  .content-page {
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
  }

  .content-page h1 {
    font-size: 50px;
  }

  .container .content-page .btn-contact {
    margin-bottom: 20px;
  }
}
.dark {
  background: black;
}
.dark h1,
.dark h2,
.dark p,
.dark .email-link a,
.dark nav a,
.dark i:hover,
.dark .btn-live:hover {
  color: white;
}
.dark .footer h4,
.dark .resume-section p {
  color: #272142;
}

.dark .front-page {
  background-color: rgb(50, 46, 46);
}
.dark .btn-contact {
  background-color: var(--light-color);
}
.dark a:hover,
.dark h3 {
  color: var(--secondary-color);
}
.dark i {
  transition: all 100ms ease-in-out;
}
